services:
  timemanager:
    build: src/timemanager
    environment:
      - PORT=8000
      - INITIAL_TIME=2018-01-01T00:00:00
      - INITIAL_SPEED=300
    ports:
      - 8000:8000
  streamer:
    build: src/streamer
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - WEBHDFS_URL=http://host.docker.internal:9870
      - WEBHDFS_DATANODE_URL=http://host.docker.internal:9864
      - SCHEMA_REGISTRY_URL=http://host.docker.internal:8081
      - KAFKA_REST_PROXY_URL=http://host.docker.internal:8082
      - TIME_MANAGER_URL=http://timemanager:8000
